{% if site.data.experiences %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>

  {% for experience in site.data.experiences %}
  <div class="item">
    <div class="upper-row">
      <div class="meta">
        <div class="name">{{ experience.title }}</div>
        <div class="intro">{{ experience.intro }}</div>
        <ul>
          {% for description in experience.descriptions %}
          <li>{{ description.description }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="time">{{ experience.time }}</div>
    </div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
